main{
    min-height: calc(100vh - 160px);
    text-align: center;
    font-weight: 300;
    margin-bottom: 50px;
}

nav{ padding: 10px 20px; width: 360px; margin: 0 auto; max-width: calc(100% - 40px);}
nav ul{margin: 0; padding: 0; display: flex;
    justify-content: space-evenly;
}

.data_list ul{ display: block; text-align: left;}
.data_list li{ margin-top: 10px;}

nav li{list-style-type: none; display: block; color:#FFF;
     background-color: blueviolet; width: 100%; padding:8px 14px;
    }

nav li:first-child { border-radius: 4px 0px 0px 4px;}
nav li:last-child{ border-radius: 0px 4px 4px 0px;}
nav .active{ background-color: rgb(162, 84, 235);}
